<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><img src="assets/Screenshot 2022-02-23 195337.jpg" alt="logo"></li>
					<li class="nav-li"><a href="#">Home</a></li>
					<li class="nav-li"><a href="#">About Us</a></li>
					<li class="nav-li"><a href="#">Explore Work</a></li>
					<li class="nav-li"><a href="#">Shop</a></li>
					<li class="nav-li"><a href="#">Contact</a></li>
					<li class="nav-li lang-select">
						<form>
							<select name="languages">
								<option value="EN">EN</option>
								<option value="FR">FR</option>
								<option value="RU">RU</option>
								<option value="AR">AR</option>
							</select>
						</form>
					</li class>
					<li class="nav-li cart"><a href="#"><img class="shopping-cart" src="assets/bag.png" alt="shopping cart"></a></li>
				</ul>
			</nav>
		</header>

		<main>
			<section>
				<h1 class="main-heading"><span>Interio</span> The Modern art of simplicity.</h1>
				<p class="main-desc">We are tending to the thouusands of details it takes to create a custom home tailored to your life style.</p>
				<button class="main-button">Explore More</button>
				<img class="button-img" src="assets/Screenshot 2022-02-23 233944.jpg" alt="button-logo">
			</section>



			<section class="conainer">
				<img class="couch" src="assets/Screenshot 2022-02-23 230913.jpg" alt="couch">
				<!-- <section class="colored-section"></section> -->
			</section>

			<section class="play-button-container">
				<button class="play-button">Watch Video</button>
				<img class="play-button-img" src="assets/Screenshot 2022-02-24 011623.jpg" alt="button-logo">
			</section>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
