/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

html {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 12vh;
  background: linear-gradient(to right,#275b52 60%, #f7eee4 40%);
}

footer {

}

/******************************************
/* Sections
/*******************************************/
main {
  height: 87vh;
  background: linear-gradient(to right,#275b52 60%, #f7eee4 40%);
}

main section:first-child {
  float: left;
  width: 45%;
}



.colored-section {
  background-color: #c0cece;
  width: 150px;
  height: 150px;
  /* z-index: 2; */
  /* margin: 6% 6% 0 0; */
  /* float: right; */
  position: relative;
  /* left: 1450px; */
  bottom: 530px;
  left: 660px;
}

.conainer {
  height: 62vh;
  /* z-index: 1; */
  float: right;
  margin: 5% 8% 0 0;
  width: 47%;
}


.play-button-container {
  width: 25%;
  position: relative;
  top: 39px;
  left: 1404px;
}
/******************************************
/* Headings
/*******************************************/
.main-heading {
  margin: 22% 0 0 15%;
  font-size: 6rem;
  color: #fff;
  width: 75%;
}




/******************************************
/* Lists
/*******************************************/

ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  height: 10vh;
}

li {
  float: left;
  margin: 0.8% 14% 0 6.5%;
}


.nav-li {
  margin: 2.5% 2% 0 0;
}

.lang-select {
  margin: 2.7% 0 0 25%;
}

.cart {
  width: 6%;
  margin-left: 1%;
}

/******************************************
/* Anchors
/*******************************************/

li a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff;
}


/******************************************
/* Images
/*******************************************/

main .couch {
  width: 100%;
  /* z-index: 3; */
}


.button-img {
  width: 7%;
  position: relative;
  right: 65px;
  top: 22px;
}

.shopping-cart{
  width: 25%;
}

.play-button-img {
  width: 22%;
  position: relative;
  right: 30px;
  top: 40px;
}

/******************************************
/* forms
/*******************************************/

.lang-select select {
  font-size: 1.8rem ;
  background-color: #f7eee4;
  color: rgb(0, 0, 0);
  border: none;
}


.main-button {
  margin: 5% 0 0 15%;
  padding: 2.2% 10% 2.2% 2%;
  background-color: #dfb044;
  color: #fff;
  border: none;
  font-size: 2rem;
}


.play-button {
  margin: 5% 0 0 15%;
  padding: 5% 10% 5% 8%;
  background-color: #fff;
  color: #000000;
  border: none;
  font-size: 2.2rem;
}

/******************************************
/* spans
/*******************************************/
.main-header span {
  color: #dfb044;
}


/******************************************
/* Paragraphs
/*******************************************/

.main-desc {
  margin: 5% 0 0 15%;
  font-size: 1.8rem;
  color: #fff;
  width: 65%;
  line-height: 1.5;
}

/*  Section 4 */
body{
  font-family: Roboto;
  font-family: 'Roboto', sans-serif;
}
.four{
   /*border: 3px solid black;*/
  width: 50%;
  height: 520px;
  margin-top: 5%;
  float: left;
}
.secondSec img, svg{
  margin: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.secondSec .items span{
  margin: 45px;
  margin-top: 5px;
  text-align: center;
}
.picOne{
  margin-top: 1px;
  /*border: 3px solid orange;*/
  height: 30px;
  width: 30px;
}
.line{
  margin-top: 2px;
}
.picTwo{
  margin-top: 1px;
  /* border: 3px solid orange;*/
  height: 30px;
  width: 40px;
  padding-left: 5px;
}
.picThree{
  margin-top: 1px;
  /* border: 3px solid orange;*/
  height: 30px;
  width: 45px;
  padding-left: 15px;
}
.picFour{
  margin-top: 1px;
  /* border: 3px solid orange;*/
  height: 30px;
  width: 50px;
  padding-left: 20px;
}
.picFive{
  margin-top: 1px;
  /* border: 3px solid orange;*/
  height: 30px;
  width: 30px;
 /* padding-left: 20px;*/
}

.thirdSec{
  /*border: 3px solid orange;*/
  margin-top: 6%;
  height: 520px;
  width: 50%;
  float: left;
}

.holder{
  box-shadow: 5px 5px 5px grey;
  height: 635px;
  width: 694px;
}

.heading1{
  /*border: 3px solid red;*/
  height: 160px;
  width: 80%;
  margin-left: 9%;
}
.heading1 h3{
  margin-left: 10px;
  display: inline;
  font-size: 170%;
  font-weight: 700;
}
.heading1 p{
  margin-left: 80px;
  color:grey;
  font-size: 120%;
}
.heading1 img{
  padding: 0px;
  margin-top: 25px;
  margin-left: 40px;
  width: 6%;
  /*border: 3px solid orange;*/
}

.heading2{
  /*border: 3px solid red;*/
  height: 170px;
  width: 80%;
  margin-left: 9%;
}
.heading2 h3{
  margin-left: 10px;
  display: inline;
  font-size: 170%;
  font-weight: 700;
}
.heading2 p{
  margin-left: 80px;
  color:grey;
  font-size: 120%;
}
.heading2 img{
  padding: 0px;
  margin-top: 35px;
  margin-left: 40px;
  display: inline;
  width: 6%;
 /* border: 3px solid orange;*/
}

.heading3{
  /*border: 3px solid red;*/
  height: 170px;
  width: 80%;
  margin-left: 9%;
}
.heading3 h3{
  margin-left: 10px;
  display: inline;
  font-size: 170%;
  font-weight: 700;
}
.heading3 p{
  margin-left: 80px;
  color:grey;
  font-size: 120%;
}
.heading3 img{
  padding: 0px;
  margin-top: 25px;
  margin-left: 40px;
  display: inline;
  /*border: 3px solid orange;*/
}

.thirdSec h1{
  font-size: 250%;
  margin-left: 15%;
}
.thirdSec h1>span{
  color: teal;
}
